@font-face {
    font-family: "myfont";
    src: url("../fonts/faken.ttf");
    font-display: swap;
}
@font-face {
    font-family: "digitalfont";
    src: url("../fonts/Digital-Play-Italic-St-1.ttf");
    font-display: swap;
}

:root {
    /*
    --leleo-background-image-url
    --leleo-welcomtitle-color ;
    --leleo-vcard-color
    --leleo-brightness
    --leleo-blur 
    --leleo-blur
    */
}

/* 设置滚动条样式 */
::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--main_text_color, #000000);
    border-radius: 8px;
    height: 20%;
}

::-webkit-scrollbar-track {
    background-color: var(--main_bg_color, linear-gradient(50deg, #a2d0ff, #ffffff));
}

.v-selection-control-group{
    justify-content: center;
}
.v-snackbar__content{
    text-align: center!important;
}
.v-card-item{
    padding: 0.2rem 1rem!important;
}